 .container{
    .playlist{
        margin: 0 2rem;
        display: flex;
        align-items: center;
        gap: 2rem;
        .image{
            img{
                height: 21rem;
                box-shadow: rgba(0,0,0,0.25) 0px 25px 50px -12px;
            }
        }
        .detail{
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            color: #e0dede;
            .type{
                font-size: 2rem;
            }
            .title{
                color: white;
                font-size: 4rem;
                
            }
            .describe{
                font-size: 1.5rem;
                font-weight: bold;
            }
            .avatar{
                top: 0;
                a{
                    display: flex;
                    align-items: center;
                    gap : 0.5rem;
                    color: white;
                    font-weight: bold;
                    text-decoration: none;  
                   svg{
                    font-size: 1.3rem;
                    background-color:#282828;
                    padding: 0.2rem;
                    border-radius: 1rem;
                    color: #c7c5c5;
                   } 
                }
            }
        }
    }
}
.listMusic{
    .header__row{
        display: grid;
        grid-template-columns: 0.3fr 2.9fr 2fr 0.1fr;
        color: #dddcdc;
        margin: 1rem 0 0 0;
        position: sticky;
        top: 15vh;
        padding: 1rem 3rem;
        transition: 0.3s ease-in-out;
        &.headerBackground {
            background-color: rgba(0, 0, 0, 0.7);
        }
        .col{
            color: #dddcdc;
            font-weight: bold;
            .iconPlay{
                span{
                    svg{
                        margin-left: -1.8rem;
                    }
                }
            }
        }
    }
    .tracks{
        margin: 0 2rem 5rem 2rem;
        display: flex;
        flex-direction: column;

        .row{
            padding: 0.5rem 1rem;
            display: grid;
            grid-template-columns: 0.3fr 2.9fr 2fr 0.1fr;
            &:hover{
                background-color: rgba(0,0,0,0.7);
                cursor: pointer;
            }
            .col{
                display: flex;
                align-items: center;
                color: #dddcdc;
            }
            .col__detail{
                display: flex;
                align-items: center;
                .infor{ 
                    margin-left: 12px;
                    .name{
                        color: #dddcdc;
                        font-weight: bold;
                        
                    }
                    .artists{
                        color: #dddcdc;
                        font-weight: inherit;
                    }
                }

            }

        }
    }
}